main{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
   
}

.contato{
    display: flex;
    height: 41rem;
    gap: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-repeat.jpg);
    width: 100%;
    
}
.contato .duvida{
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contato .duvida h1{
    font-weight: 900;
    font-size: 20px;
    width: 28.8rem;
    height: 46px;
    margin-bottom: 11px;
    line-height: 23px;
   
}
.contato .duvida p{
    font-weight: 400;
    font-size: 15px;
    width: 30rem;
    height: 54px;
    line-height: 18px;
}
.contato .formulario{
    background-color: #ffffff;
    width: 34rem;
    height: 37.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contato .formulario .entrada{
    width: 298px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;  
   
}

.contato .formulario input:first-child{
    margin-top: 20px;
}

.contato .formulario .entrada.message{
    height: 100px;
    width: 298px;
    resize: none;
    border-radius: 5px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    
}
.entrada::placeholder{
    color:#A8A8A8;
    font-weight: 700;

}
.contato .formulario .campo{
    margin-bottom: 16px;
    margin-top: 7px;
    font-weight: 400;
    font-size: 15px;
    margin-left: 40px;
    width: 100%;
}
.contato .formulario .btn{
    width: 298px;
    height: 42px;
    border-radius: 5px;
    background-color: #3CCC87;
    color: white;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin-bottom: 22px;
}

.contato .formulario .error,.contato .formulario .message.error{
    border-color:#F52E2E ;
    
}
.contato .formulario .mensagem.mensagem-error{
    opacity: 1;
    
    
} 
.contato .formulario .sucess,.contato .formulario .message.sucess{
    border-color:#00C22B ;

}


.formulario .mensagem{
    color: #F52E2E;
    font-weight: 400;
    font-size: 8px;
    margin-bottom: 6px;
    width: 85%;
    opacity: 0;
}